html {
  background-color: black;
  font-family: "Caveat", cursive;
  font-family: "Freehand", cursive;
  font-family: "Libre Baskerville", serif;
}

#box{
    width: 90%;
    margin: 5%;
}

#image {
    border: 5px solid white;
    width: 100%;
}
h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0%;
}

p{
    color: white;
    text-align: center;
    padding: 0px;
    margin-top: 0%;
}
